*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid black;
}
.Wholebox{
	background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0.3785889355742297) 0%, rgba(253,244,45,0.5690651260504201) 57%);
}
.header{
	height: 10vh;
	width: 100%;
	text-align: center;
	font-size: 4vh;
	border: none;
	background: rgb(252,14,14);
    background: linear-gradient(180deg, rgba(252,14,14,0.6166841736694677) 27%, rgba(255,255,255,0.896796218487395) 49%, rgba(253,45,45,0.6362920168067228) 70%);
}
.type{
	height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    background-color: black;
    color: white;
}
.but{
	border: none;
    border-radius: 3px;
    width: 10%;
    text-align: center;
    margin-left: 8%;
}
.button{
	height: 6vh;
    width: 12vh;
    border-radius: 5px;
    font-size: 2vh;
    background-color: brown;
    color: white;
}
.Wholebox{
	height: 99.5vh;
	width: 100%;
}
.clock{
	height: 40vh;
	width: 60%;
	margin: auto;
	margin-top: 10%;
	display: flex;
	flex-direction:row ;
	border: none;
}
.hrs {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	border: none;

}
.y {
    height: 50%;
    width: 45%;
    border: 20px solid brown;
}
.mins {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	border: none;

}
.sec {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	border: none;

}
.gap{
	width: 5%;
	border: none;
    
}
.dot {
    height: 30px;
    width: 30px;
    margin: auto;
    margin-top: 150%;
    border: none;
    background-color: brown;
}
#stopbutton{
    margin-left:4%;
    margin-top: 2%;
    background-color: red;
}
#startbutton{
    margin-left: 42.5%;
    margin-top: 2%;
    background-color: seagreen;

}