*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid img { 
    /*Design the card */
    height: 27vh;
    width: 22vh;
} 


.grid img.flip { 
	transform: rotateY(180deg);
    transition: 1s;
    /*flip the card*/
}
.playAgain{
    background-color: transparent;
    font-size: 3vh ;
    color: burlywood;
    border: none;
}
#won{
    position: absolute;
    height: 15vh;
    width: 39%;
    top: 20%;
    left: 30%;
    background-color: #00fff3;
    text-align: center;
    padding: 0%;
    font-size: 5vh;
    display: none;
}


.grid { 
    width: 42%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto;
} 

.popup { 
    background: red;
    width: 200px;
    height: 200px;
    z-index: 20;
    position: fixed;
    top: 44%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3rem;
}

.data { 
display: flex; 
justify-content: space-between; 
padding: 20px 30px; 
font-size: 23px; 
border-bottom: 5px solid black;
} 
.title{
    height: 100%;
    width: fit-content;
    font-size: 5vh;
    word-spacing: 2px;
}
.data span { 
color: rgb(206, 121, 11);
font-size: 30px; 
}

