*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.border{
    border:1px solid black;
}
.wholebox{
    height: 99.8vh;
}
.header{
height: 10%;
}
.data{
  height: 10%;
}
.box{
  height: 60vh;
  width: 60vh;
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.x{
    border :1px solid black;
    height: 20%;
    width: 20%;
    background-color: white;
    border-radius: 5%;
}
.y{
    border :1px solid black;
    height: 100%;
    width: 20%;
    background-color: white;
    border-radius: 5%;
}
.d_box{
 height: 12vh;
 width: 60vh;
 margin: auto;
 display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*inserting someting*/
.fill{
  height: 90%;
  width: 90%;
  margin: 5% 5%;
  /* background-image:url('banana.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.hovered{
  border: 2px dashed blue;
}

.check{
  height: 7%;
    width: 27%;
    margin: auto;
    display: flex;
    align-items: center;
}
#reset{
  height: 60%;
  width: 19%;
  margin: auto;
  background-color: coral;
  border-radius: 1rem;
  border-style: dashed;
}
#check{
  height: 60%;
  width: 19%;
  margin: auto;
  border-radius: 1rem;
  background-color: greenyellow;
  border-style: dashed;
}