*{
	margin: 0;
	padding: 0;
	/*border: 1px solid black;*/
	box-sizing: border-box;
}
.display{
    height: 35vh;
    width: 54vh;
    margin: auto;
    margin-top: 10%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}
.y {
    margin-left: 4%;
    height: 50%;
    /*border-bottom: 22px solid blue;*/
    /*border-left: 22px solid blue;*/
    width: 132px;
    /*border-top: 22px solid blue;*/
    /*border-right: 22px solid blue;*/
}
.buttons{
    height: 30vh;
    width: 100%;
}
#simpol {
    height: 5vh;
    width: 15vh;
    top: 41%;
    background: blue;
    left: -31%;
    display: none;
}
.but1{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    font-size: 9vh;
    margin-top: 5%;
    background-color: blue;
    margin-left: 39%;
    color: white;
}
#header {
    height: \; font-size: 10;
    font-size: 8vh;
    text-align: center;
    padding-top: 2%;
    background: rgb(47,199,237);
    background: linear-gradient(279deg, rgba(47,199,237,0.9051995798319328) 56%, rgba(14,236,237,0.9051995798319328) 89%);
    color: aliceblue;
}

.but2{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    font-size: 9vh;
    margin-top: 5%;
    background-color: blue;
    margin-left: 14%;
    color: white;
}

/*numbe 1 display*/
#x1{
   border-left: 25px solid blue;
   border-top: 25px solid blue;
   border-right:25px solid blue ;
}
#x2{
   border-left: 25px solid blue;
   border-top: 25px solid blue;
   border-right:25px solid blue ;
}
#x3{
   border-left: 25px solid blue;
   border-top: 25px solid blue;
   border-right:25px solid blue ;
}
#y1{
   border-left: 25px solid blue;
   border-bottom: 25px solid blue;
   border-right:25px solid blue ;
}
#y2{
   border-left: 25px solid blue;
   border-bottom: 25px solid blue;
   border-right:25px solid blue ;
}
#y3{
   border-left: 25px solid blue;
   border-bottom: 25px solid blue;
   border-right:25px solid blue ;
}