.wholecontainer{
	margin: 0;
	padding: 0;
	box-sizing:border-box ;
	border: 1px solid black;
}
.bmi{
	height: 70vh;
	width: 70vh;
	margin: auto;
	margin-top: 10%;
	background-color: lightgoldenrodyellow;
}
#inph{
	height: 3vh;
    width: 76%;
    margin-top: 8%;
    /* margin: auto; */
    margin-left: 10%;

}
#inpw{
	height: 3vh;
    width: 76%;
    margin-top: 8%;
    /* margin: auto; */
    margin-left: 10%;
}
#button{
	height: 3vh;
    width: 32%;
    margin-top: 8%;
    /* margin: auto; */
    margin-left: 32%;
}
#out{
	height: 3vh;
    width: 76%;
    margin-top: 8%;
    /* margin: auto; */
    margin-left: 10%;
}
#outvalue{
	height: 15vh;
    width: 77%;
    margin-top: 10%;
    /* margin: auto; */
    margin-left: 10%;
    background-color: aquamarine;
    font-size: 3vh;
}